.confirmation-dialog {
  position: fixed;
  height: fit-content;
  width: 25rem;
  bottom: 1rem;
  background-color: rgb(2 6 23);
  border: 1px solid rgb(30 41 59);
  padding: 0.75rem;
  border-radius: 20px;
  display: block;
  z-index: 1000; /* Ensure it is above other elements */
  transition: right 0.8s;
}

.hidden {
  right: -30rem;
}

.show {
  right: 1rem;
}

.confirmation-dialog p {
  margin: 0;
  padding: 0;
  color: #f8fafc;
}

.confirmation-dialog-button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.confirmation-dialog button {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  width: 100%;
  height: 3rem;
}

.main-button {
  background-color: #f8fafc;
  color: #0f172a;
  border: 1px solid #f8fafc;
}

.sec-button {
  background-color: #0f172a;
  color: #f8fafc;
  border: 1px solid #1e293b;
}

.main-button:hover {
  background-color: #dfe2e5;
}

.sec-button:hover {
  background-color: #1e293b;
}
